@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  cursor: none;
}

header {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  color: black;
}
header .principal {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: auto;
  width: auto;
  text-align: center;
  text-transform: uppercase;
}
header .principal span {
  font-size: 100px;
  font-family: "Courgette", cursive;
}
header .principal span:hover {
  color: white;
  transition: 1s ease-in-out;
}
header .principal .espacio:hover {
  color: black;
}

#sigueme {
  width: 115px;
  height: 115px;
  position: relative;
  background-color: black;
  border-radius: 999px;
  opacity: 0.5;
  color: white;
  border: 2px solid white;
}